{% extends 'base.html.twig' %}

{% block title %}Edit Deposit{% endblock %}

{% block body %}
    <h1>Edit Deposit</h1>

    {{ include('pages/admin/deposit/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
