{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block body %}
    <div class="container mx-auto p-2">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1 class="text-center m-2">Inscription</h1>
        {% embed 'organisms/registration/registrationForm.html.twig' %}
        {% endembed %}
    </div>
{% endblock %}
